*
{
	margin: 0;
	padding: 0;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
	flex-wrap: wrap;
	background: #000;
}
svg
{
  position: absolute;
  width: 540px;
  fill: none;
}
svg:nth-child(1)
{
	filter: blur(40px);
}
svg path
{
  stroke: #8dd7bf;
  width: 50%;
  stroke-width: 50;
  stroke-linecap: round;
  transform: translate(50px,50px);
  animation: animate 2s ease-in-out infinite;
}
@keyframes animate 
{
	0%,100%
	{
  		stroke: #ff0092;
		d: path("M0,25 C150,110 150,-90, 50,25");
	}
	75%
	{
  		stroke: #00a5e3;
		d: path("M0,25 C160,-50 140,65, 80,25");
	}
}
